<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" /> -->
	<link rel="stylesheet" href="/static/css/stylesheet.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&display=swap"
		rel="stylesheet">
	<title>Investor's Calculator</title>
</head>

<body>
	<main>
		<div class="form-box">
			<form method="POST">
				{{choosen.hidden_tag()}}
				{{choosen.calculator.label}} {{choosen.calculator}}
				<br>
				{{choosen.submit()}}
			</form>
		</div>
	</main>
</body>

</html>