<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/stylesheet.css">
	<title>SIP Calculator</title>
</head>

<body>
	<h1>SIP CALCULATOR</h1>
	<form method="POST">
		{{ sip_form.hidden_tag() }}
		{{sip_form.monthly_investment.label}} {{sip_form.monthly_investment}}
		<br>
		{{sip_form.time_period.label}} {{sip_form.time_period}}
		<br>
		{{sip_form.expected_return_rate.label}} {{sip_form.expected_return_rate}}
		<br>
		{{ sip_form.submit()}}

	</form>
</body>

</html>